body {
  background-color: rgb(204, 204, 204);
}
h1, h2 {
  text-align: center;
}
ul li {
  list-style: none;
}
div {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}
#uniq {
  border: 1px solid black;
}
a {
  text-decoration-line: none;
  color: black;
}
.player_one, .player_two {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
}
